---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Breakpoint variables 
$breakpoint-1: 900px;
$breakpoint-2: 600px;

// Color variables 
$highlight-color: #333300;

// Trying a new reponsive implementation 
@mixin responsive-size() {
    @media screen and (min-width: $breakpoint-2) {
        max-width: $breakpoint-2;
        margin: 0 auto;
    }
    
    @media screen and (min-width: $breakpoint-1) {
        max-width: $breakpoint-1;
        margin: 0 auto;
    }
}

@import
    "layout",
    "design"