body {
    background-color: #EEE;
}

#site-title {
    font-family: Serif;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
    
    li {
        margin: 10px 0;
        
        a {
            font-family: Sans-Serif;
            text-decoration: none;
            color: #000;
        }
        
        a:hover {
            font-weight: 700;
        }
    }
}